<template>
    <div class="form center max-450">
        <div class="form-group">
            <h2>Pages impairs (1, 3, 5, 7, ...)</h2>
            <div class="custom-input-file">
                <input type="file" id="pdf-odd" @change="selectedOddFile">
                <label class="fileContainer" v-bind:class="{ valid: pdfOdd }" for="pdf-odd">{{ pdfOdd ? pdfOdd.name : '...' }}</label>
            </div>
        </div>
        <div class="form-group">
            <h2>Pages pairs (..., 8, 6, 4, 2)</h2>
            <div class="custom-input-file">
                <input type="file" id="pdf-even" @change="selectedEvenFile">
                <label class="fileContainer" v-bind:class="{ valid: pdfEven }"  for="pdf-even">{{ pdfEven ? pdfEven.name : '...' }}</label>
            </div>
        </div>
        <div class="form-submit">
            <button v-bind:disabled="!(pdfEven && pdfOdd)" v-on:click="mergePDFs">Merger les fichiers</button>
        </div>
        <div v-if="msg" class="form-info">
            {{ msg }}
        </div>
    </div>
</template>

<script>
  import { PDFDocument } from 'pdf-lib';

  export function createAndDownloadBlobFile(body, filename, extension = 'pdf') {
    const blob = new Blob([body]);
    const fileName = `${filename}.${extension}`;
    if (navigator.msSaveBlob) {
      // IE 10+
      navigator.msSaveBlob(blob, fileName);
    } else {
      const link = document.createElement('a');
      // Browsers that support HTML5 download attribute
      if (link.download !== undefined) {
        const url = URL.createObjectURL(blob);
        link.setAttribute('href', url);
        link.setAttribute('download', fileName);
        link.style.visibility = 'hidden';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    }
  }

  export default {
    name: 'NonDuplexHelper',
    data() {
      return {
        pdfOdd: null,
        pdfEven: null,
        msg: null
      }
    },
    methods: {
      selectedOddFile(input) {
        if (input.target.files && input.target.files[0]) {
          let file = input.target.files[0];

          if (file.type === 'application/pdf') {
            this.pdfOdd = file;
          } else {
            this.pdfOdd = null;
            input.target.value = '';
          }
        }
      },
      selectedEvenFile(input) {
        if (input.target.files && input.target.files[0]) {
          let file = input.target.files[0];

          if (file.type === 'application/pdf') {
            this.pdfEven = file;
          } else {
            this.pdfEven = null;
            input.target.value = '';
          }
        }
      },
      mergePDFs() {
        if (this.pdfOdd && this.pdfEven) {
          let readerOdd = new FileReader()
          let readerEven = new FileReader()

          readerOdd.onload = () => {

            if (readerOdd.result instanceof ArrayBuffer) {
              const pdfOddBytes = new Uint8Array(readerOdd.result);

              // Read Even pages
              readerEven.onload = () => {

                if (readerEven.result instanceof ArrayBuffer) {
                  const pdfEvenBytes = new Uint8Array(readerEven.result);

                  //Step 5:PDFJS should be able to read this
                  PDFDocument.load(pdfOddBytes).then((pdfOddDoc) => {
                    const oddPages = pdfOddDoc.getPages();

                    //Step 5:PDFJS should be able to read this
                    PDFDocument.load(pdfEvenBytes).then((pdfEvenDoc) => {
                      const evenPages = pdfEvenDoc.getPages();

                      if (oddPages.length !== evenPages.length) {
                        this.msg = 'Les deux documents n\'ont pas le même nombre de pages. Le merge a été annulé.'
                      } else {
                        PDFDocument.create().then(pdfDoc => {
                          const pdfGenerator = async function () {
                            for (let i = 0; i < oddPages.length; i++) {
                              const oddPage = await pdfDoc.copyPages(pdfOddDoc, [ i ]);
                              const evenPage = await pdfDoc.copyPages(pdfEvenDoc, [ oddPages.length - 1 - i ]);
                              pdfDoc.addPage(oddPage[0]);
                              pdfDoc.addPage(evenPage[0]);
                            }
                          }

                          pdfGenerator().then(() => {
                            pdfDoc.save().then(pdfBytes => {
                              createAndDownloadBlobFile(pdfBytes, this.pdfOdd.name + 'recto-verso', 'pdf');
                            })
                          })
                        });
                      }
                    })
                  })
                }
              }

              readerEven.readAsArrayBuffer(this.pdfEven);
            }
          };

          readerOdd.readAsArrayBuffer(this.pdfOdd);
        }
      }
    }
  }
</script>

<style lang="scss">
    .form {
        font-size: .8em;
    }
    .center {
        display: inline-block;
        width: auto;
        margin: 0 auto;
    }

    .max-450 {
        width: 100%;
        max-width: 450px;
    }

    .form-group {
        padding: 15px 10px;
        border: 1px dashed #fff;
        margin: 30px 0;

        h2 {
            margin: 0 0 15px;
        }
    }

    .custom-input-file {
        overflow: hidden;
        position: relative;

        [type=file] {
            cursor: inherit;
            display: block;
            font-size: 999px;
            filter: alpha(opacity=0);
            min-height: 100%;
            min-width: 100%;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: right;
            top: 0;

            &:focus {
                + label {
                    box-shadow: 0 0.6em #c2bb11, 0 1.3em rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    button,
    label {
        border: 4px solid #610000;
        display: block;
        width: 100%;
        padding: 15px;
        line-height: 1.4em;
        position: relative;
        font-weight: 400;
        letter-spacing: 0.02em;
        background: darkred;
        cursor: pointer;
        word-break: break-all;
        transition: all .2s ease;

        &.valid {
            border: 4px solid #004e00;
            background: darkgreen;
        }

        &:hover {
            border: 4px solid #000;
            box-shadow: 0 0.4em 0 0 rgba(0, 0, 0, 0.4);
        }
    }

    .form-submit {
        button {
            color: white;
            font-size: 1.4em;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;

            &:disabled {
                color: #f16161;
                border: 4px solid #610000;
                background: darkred;
                opacity: .5;
                cursor: not-allowed;
                box-shadow: none;
            }
        }
    }

    .form-info {
        margin: 15px auto;
        color: yellow;
        max-width: 320px;
        line-height: 1.4em;
        display: inline-block;
    }

    .fileContainer {
        overflow: hidden;
        position: relative;
    }
</style>
