<template>
  <h1>NonDuplex Scanner Helper</h1>
  <NonDuplexHelper />
</template>

<script>
import NonDuplexHelper from "./components/NonDuplexHelper";

export default {
  name: 'App',
  components: {
    NonDuplexHelper
  }
}
</script>

<style lang="scss">
html {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  body {
    background: #242424;
    color: white;
  }

  h1 {
    margin: 0;
    padding: 0 0 15px;
    border-bottom: 1px dashed #fff;
    font-weight: 200;
    color: #00cd33;
  }
}
#app {
  font-family: Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 15px;
}
</style>
